.container {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 14px; /* Optional: Maintain container's rounded corners */
  border-top-right-radius: 14px; /* Optional: Maintain container's rounded corners */
  width: 100%;
  z-index: 2;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.imageLink {
  display: flex;
  width: 100%;
  height: 100%; /* Ensure the image fills the height of the container */
  flex-shrink: 0; /* Prevent shrinking */
  object-fit: contain;
}

.image {
  width: 100%; /* Take up the full width of the parent container */
  height: 100%; /* Adjust height to match the container */
  object-fit: contain; /* Preserve aspect ratio and fit within the container */
  border-top-left-radius: 14px; /* Optional: Maintain container's rounded corners */
  border-top-right-radius: 14px; /* Optional: Maintain container's rounded corners */
}

/* Navigation buttons */
.navButton {
  position: absolute;
  top: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  color: var(--color-brand-primary);
}

.container:hover .navButton {
  opacity: 1;
}

.leftButton {
  left: 10px;
}

.rightButton {
  right: 10px;
}

/* Dots container */
.dotsContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.container:hover .dotsContainer {
  opacity: 1;
  visibility: visible;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.activeDot {
  background-color: #fff;
}
